<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CV Tu Esfuerzo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://use.typekit.net/nzu0lpj.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
     <link rel='stylesheet' href='/stylesheets/blog.css' />
  </head>

  <header>
    <section>
      <article class="logo-total">
        <div class="logo">
          <a href="/"><img class="logo-header" src="\images\logo.png" alt="logo"></a>
        </div>
      </article>
    </section>
  </header>

  <body>
    <h6>INFO BLOG</h6>
  </body>

  <footer>
    <article class="footer-left">
      <article class="sociales-logo">
        <div class="botones-sociales">
          <a class="logo-instagram" href="https://www.instagram.com/cv.tuesfuerzo/"><i class="fab fa-instagram"></i></a>
          <a class="logo-tiktok" href="https://www.tiktok.com/@cvtuesfuerzo"><i class="fab fa-tiktok"></i></a>
        </div>
      </article>
      <article>
        <p>Newsletter</p>
        <p class="contacto">CONTACTO</p>
      </article>
    </article>

    <article class="boton-suscribite">
      <a href=""><img class="boton-footer" src="images\boton-footer.png"></a>
    </article>


  </footer>
</html>
