<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>CV Tu Esfuerzo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://use.typekit.net/nzu0lpj.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif+Display&display=swap"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/blog.css' />
  </head>
  
  <header>
    <section>
      <article class="logo-total">
        <div class="logo">
          <a href="/"><img class="logo-header" src="\images\logo.png" alt="logo"></a>
        </div>
        <div class="lower-header">
          <a class="twitch-header" href="#twitch-scroll"> Twitch </a>
          <a class="youtube-header" href="#youtube-scroll"> Youtube</a>
          <a class="podcast-header" href="#podcast-scroll"> Podcast</a>
          <a class="blog-header" href="/blog"> Blog</a>
        </div>
      </article>
    </section>
  </header>

  <body>

    <article class="primer-entrada">

    <h2 class="titulo-blog">Tips para armar cv</h2>

    <div class="texto-primer-entrada">
        <p >A la hora de armar tu CV hay datos que NO PUEDEN FALTAR. Dentro de ellos encontramos:</p>

        <ul>
          <li> Datos de contacto (mail, teléfono, LinkedIn)</li>
          <li> Breve resumen sobre mi persona</li>
          <li> Experiencias laborales (en caso de tener)</li>
          <li> Estudios universitarios / terciarios / secundarios</li>
          <li> Cursos / Bootcamps (en caso de tener)</li>
          <li> Herramientas / Skills que conocemos</li>
        </ul>
      
      <p> Teniendo en cuenta estos puntos, tu CV va a estar casi completo ¿Por qué casi? Porque en caso de tener un idioma es fundamental aclararlo. Tanto el idioma, como su nivel (ejemplo: Inglés - Nivel Avanzado/Intermedio/Básico). Te dejo un tip: tu idioma nativo (ejemplo: español) no es necesario aclararlo. </p>
      
      <p>Respecto a la experiencia es importante tenerla organizada: desde la más actual a la más antigua. Aclarando las tareas que llevas/llevabas adelante en cada rol.</p>
      
      <p>Mismo caso para los estudios, ordenados y también podemos aclarar en qué etapa de la carrera estamos: Finalizado, En curso (aclarar cuántas materias nos quedan puede ser una gran opción, sobre todo si estamos avanzadxs).</p>
      
      <p>Otro punto importante es la foto: no es obligatorio tener una foto en tu CV. La apariencia no es algo que deba delimitar tus capacidades a la hora de afrontar un rol. Motivo por el cual incluso en muchos países está prohibido tener foto en tu CV. Por lo tanto, si no querés adjuntarla está perfecto!</p>
      
      <p>Las referencias laborales tampoco son necesarias para tu CV. En primer lugar no está bueno compartir datos de contacto personal sin el consentimiento de la otra parte. Y por otro lado, en caso de avanzar, desde el nuevo trabajo te las van a solicitar.</p>
      
      <p> Si tenés un nivel avanzado en un idioma, siempre te conviene armar tu CV tanto en español, como en ese idioma. Es decir, que si tenés un nivel de inglés avanzado, estaría bueno que tengas una copia de tu CV en ese idioma ya que probablemente para posiciones que lo requieran, te lo pidan.</p>
      
      <p> Por último: cuando vas a guardar tu CV siempre conviene guardarlo en formato PDF y que el nombre del archivo sea “CV + nombre + apellido”. De esta manera te resguardas de que los datos no se modifiquen, y además le llega de una manera mucho más organizada a el o la reclutadorx.</p>
    </div>

    </article>

    <article class="segunda-entrada">

      <h2>Tips para entrevistas laborales</h2>

    <div class="texto-segunda-entrada">
           
        <p>¿Cómo arranca el proceso de una entrevista laboral? Generalmente, en un primer momento vas a recibir un contacto, ya sea vía mail, WhatsApp, LinkedIn o el medio que hayas ofrecido para ser contactado. Allí se va a presentar la empresa, comentando cuál es el puesto por el que te llaman, y consultando por tu disponibilidad. En este punto, es fundamental la predisposición ¿Por qué? Porque demuestra interés (aunque es importante no confundir predisposición con desesperación).</p> 

        <p> Ahora bien, una vez que logran coordinar una entrevista comienza el trabajo del entrevistado, que deberá convertirse en una especio de investigador y estudiar lo siguiente. En primer lugar, tener bien en claro el nombre de la empresa para buscarla, ya sea en LinkedIn, en Google, o en cualquier portal mediante el cual pueda obtener información sobre ella.</p>
        
        <p> En el caso que sea LinkedIn, si recordas el nombre de la persona que te entrevistó, podes buscarla y ver su formación, su experiencia, su descripción de puesto y demás. En caso que no recuerdes su nombre, podes ir a la página de la empresa y buscar en la sección de “Personas/Empleados” a gente del área de recursos humanos y selección de personal (comúnmente se van a comunicar desde allí). De esta manera, vas a poder acceder no sólo al perfil de la persona que te contactó, sino también a cómo está compuesto el equipo; al menos un primer paneo general. Dato importante: si entras al perfil, le va a aparecer a esa persona que lo hiciste, lo que demuestra interés.</p>
        
        <p>Esto te va a permitir, al momento de la entrevista, contar con información, lo cual te brinda un panorama un poco más clarificador. Además, te permite comprender cuál es el mercado laboral en el que se suele desplegar la compañía y, así, saber si tu experiencia y tus conocimientos pueden aportar algo al mismo.</p>
        
        <p>Luego de esto llega el momento de la entrevista. Es normal que sientas nervios, o que no lo sientas, que estés ansioso/a o que no lo estés; todos los sentimientos son normales. Lo importante es, en el momento de la misma, intentar estar lo más enfocado posible en lo que te están contando. De esta manera, vas a poder observar, principalmente, si lo que te comentan es de tu interés y es lo que esperabas. Y también, escuchar ciertos puntos claves que van a permitir que esta primera entrevista sea exitosa.</p>
        
        <p>Una vez en la entrevista, aparecerán las siguientes frases/preguntas frecuentes: </p>

          <ul>
            <li> “Hablame sobre vos”. En este punto está bueno nombrar lo que son tus estudios, tu experiencia, pero también hablar un poco de tu vida personal. Sobre qué te gusta hacer, cuáles son tus intereses, cómo son tus días. Más adelante seguramente indaguen más en lo que tiene que ver con experiencia laboral y/o estudios.</li>
            <li> “Contame sobre tu experiencia / tus estudios”. Es importante hacer foco siempre en lo que refiere a la posición. Si es por ejemplo una posición de tecnología, no es tan relevante una experiencia previa en el sector de ventas. Obviamente que es importante mencionarla, pero en ese caso, buscaríamos enfocar nuestro discurso más bien desde lo académico, demostrando que estamos interiorizados en el tema y que nos interesa seguir aprendiendo.</li>
            <li> “¿Cuáles son tus metas a corto, mediano o largo plazo?” Nos referimos a qué apuntas el día de mañana. Siempre, sobre todo en perfiles más juniors, está bueno demostrar ganas de crecer ¿Cómo? Mostrándote a vos mismo interiorizado en el tema. Que más allá de que te falte experiencia formal, estas al tanto de las distintas partes que conforman a la posición.</li>
            <li> “¿Cuáles son tus fortalezas y debilidades?” Lo importante en estas preguntas es no hacer un típico listado (soy responsable, organizado y predispuesto), sino acompañarlo de una justificación (de qué manera te organizas, por qué sos responsable, etc.). A la hora de hablar de tus debilidades, lo importante no es tanto justificarlo, sino expresar cómo lo estás intentando cambiar.</li>
            <li> “¿Cuál es tu remuneración pretendida?” Para responder esta pregunta, recomendamos averiguar previamente la remuneración promedio para la posición en portales como Glassdor, considerar las necesidades propias y contemplar que uno puede preguntar qué banda salarial están manejando aproximadamente.</li>
          </ul>

        <p>Si bien uno no puede saber qué es lo que le van a preguntar en una entrevista, siempre está bueno ir con algunas posibilidades como estas pensadas. Preparar una presentación propia, buscar la manera de enfocar el discurso en la experiencia que solicita la posición. De esa manera te vas a mostrar más suelto, y te va a permitir también estar enfocado en otras cosas, como analizar si la entrevista en sí te está gustando, si tenés alguna duda sobre lo que te están diciendo y demás.</p>
        
        <p>Siempre está bueno desde el lugar de entrevistados averiguar cómo es el proceso, cómo va a seguir, si tienen tiempos estimados del mismo. De esta manera, por un lado, nos mostramos interesados, y por el otro podemos bajar un poco nuestra típica ansiedad a la hora de esperar una respuesta.</p>
        
        <p>Dentro del proceso puede pasar que los tiempos se demoren más de lo esperado/planificado. En estos casos, si ves que no recibiste noticias cuando te tenían que hablar, no está mal que consultes acerca del proceso. No siempre quiere decir que no estés más en proceso, sino que simplemente se alargó más de lo esperado.</p>

      </div>

    </article>




  </body>

  <footer>
    <article class="first-footer">
      <p class="text-footer">¡Sucribite a nuestro Newslatter!</p>
      <input type="text" placeholder="Tu nombre" class="formulario-footer">
      <input type="text" placeholder="Correo Electronico" class="formulario-footer">
    </article>
  
    <article class="second-footer">
      <p class="text-footer">Nuestras redes</p>
      <a href="https://www.tiktok.com/@cvtuesfuerzo" class="boton-footer">
        <p class="text-footer tik-tok"><i class="fab fa-tiktok icono-footer"></i></i>@cvtuesfuerzo</p>
      </a>
      <a href="https://www.instagram.com/cv.tuesfuerzo/" class="boton-footer">
        <p class="text-footer"><i class="fab fa-instagram icono-footer"></i></i>cv.tuesfuerzo</p>
      </a>
    </article>
  
    <article class="third-footer">
      <p class="text-footer">Contacto</p>
    </article>
  
    <article class="logo-footer">
      <a href="/"><img class="logo-footer-imagen" src="\images\logo.png" alt="logo"></a>
    </article>
  
  </footer>
  
  </html>
</html>
