<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CV Tu Esfuerzo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://use.typekit.net/nzu0lpj.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
     <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <header>
    <section>
      <article class="sociales-logo">
        <div class="botones-sociales">
          <a class="logo-instagram" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
          <a class="logo-tiktok" href="https://www.tiktok.com/"><i class="fab fa-tiktok"></i></a>
        </div>
      </article>
      <article class="logo-total">
        <div class="logo">
          <a href="/"><img class="logo-header" src="\images\logo.png" alt="logo"></a>
        </div>
      </article>
      <div class="lower-header">
        <a class="twitch-header" href="#twitch-scroll"> TWITCH </a>
        <a class="youtube-header" href="#youtube-scroll"> YOUTUBE</a>
        <a class="podcast-header" href="#podcast-scroll"> PODCAST</a>
        <a class="blog-header"> BLOG</a>
      </div>
    </section>
  </header>


  <body>
    <article class="top-body">
      <div class="top-text">
        <p class="welcome-text">Aprender comunicándonos para avanzar como comunidad. Acompañanos en este recorrido por las leyes laborales y las técnicas de búsqueda de trabajo que nos van a aportar una nueva perspectiva sobre el mercado laboral.</p>
      </div>
    </article>

    <article class="twitch-body" id="twitch-scroll">
      <div class="video-player">
        <iframe class="playing-video" width="560" height="315" src="https://www.youtube.com/embed/IMzZ2bUfRD4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      </div>

      <article class="twitch-body-left">
        <img class="mira-twitch" src="\images\Twitch.png" alt="Miralo por Twitch">
        <p class="texto-mira-twitch">“CV tu esfuerzo” es un programa informativo e interactivo vía streaming en el cual charlaremos todo acerca de buscar trabajo.</p>
      </article> 
    </article>

    <article class="youtube-body" id="youtube-scroll">
      <p class="mejores-momentos">MEJORES MOMENTOS</p>

      <article class="capitulos">
        <div class="box-capitulo">
          <i class="far fa-play-circle"></i>
          <p class="text-capitulo">CAPITULO 1 </p>
        </div>
        <div class="box-capitulo">
          <i class="far fa-play-circle"></i>
          <p class="text-capitulo">CAPITULO 2 </p>
        </div>
        <div class="box-capitulo">
          <i class="far fa-play-circle"></i>
          <p class="text-capitulo">CAPITULO 3 </p>
        </div>

      </article>

    </article>

    <article class="podcast-body" id="podcast-scroll">
      <p class="escuchanos"> ESCUCHANOS</p>
      <iframe class="reproductor" style="border-radius:12px" 
      src="https://open.spotify.com/embed/track/6DXZiYUbrYgrVIhfX3U9Z2?utm_source=generator" 
      width="100%" height="152" frameBorder="0" allowfullscreen="" 
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

    </article>

  </body>

  <footer>
    <div class="footer-left">
      <p>Newsletter</p>

      <a href=""><img class="boton-footer" src="images\boton-footer.png"></a>
    </div>

    <p class="contacto">CONTACTO</p>

  </footer>
</html>
