html {
  scroll-behavior: smooth;

 }
 

header{
  background: linear-gradient(180deg, rgba(138,27,100,1) 0%, rgba(138,27,100,1) 0%, rgba(35,10,62,1) 100%);
  border-radius: 0px 0px 8% 8%;;
 }

 body {
  box-sizing: border-box;
  margin: 0;
  background-color: #EFD4E6;
  font-family: 'Roboto', sans-serif;;
  }

.botones-sociales{
  width: 35%;
  padding-top: 10px;
  margin-left: 10px;
  }
  
.fa-instagram,.fa-tiktok {
  font-size: 20px;
  text-decoration: none;
  color: white;
  
  }
  
.fa-tiktok {
  margin-left: 10px;
  }

.sociales-logo {
  display: flex;
}

.logo-total {
  display: flex;
  justify-content: center;

}
.logo-header {
  width: 150px;

}

.lower-header {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;

}

.twitch-header, .youtube-header, .podcast-header, .blog-header {
  text-decoration: none;
  color: white;
  margin: 0px 10px;
  font-size: small;
  padding-bottom: 10px;

 } 

.top-text {
  border-top: 2px #712095 solid;
  border-bottom: 2px #712095 solid;
  margin-bottom: 40px;
  background-color:#E2C0DF;
  padding: 5px;
  margin-top: 40px;
  
}

.welcome-text{
  text-align: center;
  margin: 1% 6%;
  font-size: smaller;
}

.twitch-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mira-twitch {
  width: 150px;
  height: 60px;
  margin-top: 18px;

}

.twitch-body-left {
  display: flex;
}

.texto-mira-twitch{
  text-align: center;
  margin: 22px;
  font-size: smaller;
  font-weight: 500;

}

.video-player{
  display: flex;
  justify-content: center;

}

.playing-video{
  width: 350px;
  height: 197px;
  border-radius: 14px;
  box-shadow: 7px 8px 8px -1px rgb(0 0 0 / 65%);
  border: 3px black solid;

}

.mejores-momentos, .escuchanos{
  font-size: large;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
  margin-top: 40px;
}

.capitulos {
  display: flex;
  justify-content: space-evenly;
}

.box-capitulo {
  background-color: black;
  width: 90px;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 7px 8px 8px -1px rgb(0 0 0 / 65%);
}

.text-capitulo{
  color: #ae6ecb;
  font-size: smaller;
  font-weight: bold;
}
.fa-play-circle{
  font-size: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: white;
}


.reproductor{
  width: 100%;
  border-radius: 12px;
  box-shadow: 7px 8px 8px -1px rgb(0 0 0 / 65%);
}

footer{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 15px;
  background: linear-gradient(180deg, rgba(21,9,34,1) 0%, rgba(138,27,99,1) 100%);
  margin-top: 50px;
  color: white;
  font-size: smaller;
  border-radius: 8% 8% 0px 0px;
}

.footer-left{
  margin-left: 15px;
}

.boton-footer{
  width: 160px;
  margin-left: -6px;
}

.contacto {
  margin-right: 15px;
}  



@media (min-width: 361px){

}

@media (min-width: 769px){


}

@media (min-width:1200px){

  html {
    scroll-behavior: smooth;
  
   }
   
  .twitch-header, .youtube-header, .podcast-header, .blog-header {
    text-decoration: none;
    color: white;
    margin: 0px 20px;
    font-size: x-large;
    margin-top: 20px;
   } 
   
   header{
    background: linear-gradient(180deg, rgba(138,27,100,1) 0%, rgba(138,27,100,1) 0%, rgba(35,10,62,1) 100%);
    border-radius: 0px 0px 8% 8%;;
   }
  
   body {
    box-sizing: border-box;
    margin: 0;
    background-color: #EFD4E6;
    font-family: 'Roboto', sans-serif;;
    }
  
  .botones-sociales{
    width: 35%;
    margin-top: 26px;
    margin-left: 20px;
  }
  
  .fa-instagram,.fa-tiktok {
    font-size: 40px;
    text-decoration: none;
    color: white;
  
  }
  
  .fa-tiktok {
    margin-left: 10px;
  }
  
  .sociales-logo {
    display: flex;
  }
  
  .logo-total {
    display: flex;
    justify-content: center;
  }
  .logo-header {
    width: 250px;
  }
  
  .lower-header {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }
  
  .top-text {
    border-top: 2px #712095 solid;
    border-bottom: 2px #712095 solid;
    margin-bottom: 40px;
    background-color:#E2C0DF;
    padding: 5px;
    margin-top: 40px;
    
  }
  
  .welcome-text{
    text-align: center;
    margin: 5% 14%;
    font-size: xx-large;
  }
  
  .twitch-body {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .mira-twitch {
    width: 50%;
  }
  
  .texto-mira-twitch{
    text-align: center;
    margin: 30px;
    font-size: x-large;
  }
  
  .video-player{
    margin: 0px 75px;
  }
  
  .playing-video{
    width: 560px;
    height: 315px;
    border-radius: 20px;
    box-shadow: 7px 8px 8px -1px rgba(0,0,0,0.65);
    border: 25px black solid;
  
  }
  
  .mejores-momentos, .escuchanos{
    margin: 60px 50px 30px;
    font-size: x-large;
    font-weight: bold;
  }
  
  .capitulos {
    display: flex;
    justify-content: space-evenly;
  }
  
  .box-capitulo {
    background-color: black;
    width: 240px;
    height: 325px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 7px 8px 8px -1px rgb(0 0 0 / 65%);
  }
  
  .text-capitulo{
    color: #ae6ecb;
    font-size: x-large;
    font-weight: bold;
  }
  .fa-play-circle{
    font-size: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    color: white;
  }
  
  
  .reproductor{
    width: 50%;
    margin-left: 75px;
    border-radius: 12px;
    box-shadow: 7px 8px 8px -1px rgb(0 0 0 / 65%);
  }
  
  footer{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    background: linear-gradient(180deg, rgba(21,9,34,1) 0%, rgba(138,27,99,1) 100%);
    margin-top: 75px;
    color: white;
    font-size: 20px;
    border-radius:  8% 8% 0px 0px;
  
  }
  
  .footer-left{
    margin-left: 40px;
  }
  
  .boton-footer{
    width: 400px;
    margin-left: -20px;
  }
  
  .contacto {
    margin-right: 50px;
  }  

}
